*{
  padding: 0px;
  margin: 0px;
  font-family: nunito,sans-serif;
}

:root{
  --main-color:#6400e4;
  --box-shadow:0px 3px 5px 0px rgba(0,0,0,0.34);
  --hover-shadow:0px 4px 4px 0px rgba(3,3,3,0.561);
  --nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
  --light-black:#141c3a;
}

body{
  font-family: "Nunito",sans-serif;
}

.container{
  padding:100px 400px 100px 550px;
  
  width:28%
  margin:100px auto
  margin-left: 600px;
}

form{
  display: flex;
  flex-direction: column;
  margin: 30px 0;

}

form label{
  margin: 5px 0;
}

 form input[type="email"],input[type="password"]{
  height:45px;
  width: 370px;
  margin: 5px 0;
  border: 0.5 solid #b8b8b85d;
  border-radius: 3px;
  padding-left: 15px;
  font-size: 20px;
}

form a{
  margin:10px 0;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}



.login{
  height: 50px;
  background-color: var(--main-color);
  font-size: 20px;
  color: aliceblue;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.1s ease;
  width: 385px;
}

.login:hover{
  box-shadow: var(--hover-shadow);
  transform: translateY(-3px);
}

img{
  width: 15px;
  box-shadow: var(--box-shadow);
  border: 0.5 solid black;
  padding: 20px;
  height: 15px;
  transition: 0.1s ease;
}

.img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 385px;
  margin: 5px 0px;
}



img:hover{
  box-shadow: var(--hover-shadow);
  transform: translateY(-3px);
}

.footer a{
  padding-left: 140px;
  margin-top: 100px;
  text-decoration: none;
  
}

